version: '2'
#version: '2.1'

services:
  bind9:
    image: resystit/bind9
    command: "named -c /etc/bind/named.conf -g -u named"
    depends_on: [mysql]
    volumes:
      - ${DATA_DIR}/conf/bind9/named.conf:/etc/bind/named.conf
    restart: always
    #networks:
    #  mailcow-network:
    #    ipv4_address: 172.22.1.254
    #    aliases:
    #      - bind9

  mysql:
    image: mysql:5.7
    #healthcheck:
    #  test: ["CMD", "mysqladmin", "ping", "--host", "localhost", "--silent"]
    #  interval: 10s
    #  timeout: 30s
    #  retries: 5
    volumes:
      - mysql-vol-1:/var/lib/mysql/
      - ${DATA_DIR}/conf/mysql/:/etc/mysql/conf.d/:ro
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    environment:
      - MYSQL_ROOT_PASSWORD=${DBROOT}
      - MYSQL_DATABASE=${DBNAME}
      - MYSQL_USER=${DBUSER}
      - MYSQL_PASSWORD=${DBPASS}
    restart: always
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - mysql

  redis:
    image: redis:alpine
    depends_on: [bind9]
    volumes:
      - redis-vol-1:/data/
    restart: always
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - redis

  clamd:
    image: mailcow/clamd
    restart: always
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - clamd

  rspamd:
    image: mailcow/rspamd
    command: > 
      /bin/bash -c "
      sleep 5;
      /usr/bin/rspamd -f -u _rspamd -g _rspamd
      "
    depends_on: [nginx]
    volumes:
      - ${DATA_DIR}/conf/rspamd/override.d/:/etc/rspamd/override.d:ro
      - ${DATA_DIR}/conf/rspamd/local.d/:/etc/rspamd/local.d:ro
      - ${DATA_DIR}/conf/rspamd/lua/:/etc/rspamd/lua/:ro
      - dkim-vol-1:/data/dkim
      - rspamd-vol-1:/var/lib/rspamd
    restart: always
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    #networks:
    #  mailcow-network:
    #    ipv4_address: 172.22.1.253
    #    aliases:
    #      - rspamd

  php-fpm:
    image: mailcow/phpfpm
    links:
      - redis:redis-mailcow
      - mysql:mysql-mailcow
    command: "php-fpm -d date.timezone=${TZ}"
    depends_on:
      - bind9
      - redis
    volumes:
      - ${DATA_DIR}/web:/web:ro
      - ${DATA_DIR}/conf/rspamd/dynmaps:/dynmaps:ro
      - dkim-vol-1:/data/dkim
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    environment:
      - DBNAME=${DBNAME}
      - DBUSER=${DBUSER}
      - DBPASS=${DBPASS}
      - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
    restart: always
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - phpfpm

  sogo:
    image: mailcow/sogo
    depends_on: [bind9]
    links:
      - redis:redis-mailcow
    environment:
      - DBNAME=${DBNAME}
      - DBUSER=${DBUSER}
      - DBPASS=${DBPASS}
      - TZ=${TZ}
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    volumes:
      - ${DATA_DIR}/conf/sogo/:/etc/sogo/
    restart: always
    #networks:
    #  mailcow-network:
    #    ipv4_address: 172.22.1.252
    #    aliases:
    #      - sogo

  rmilter:
    image: mailcow/rmilter
    depends_on: [bind9]
    volumes:
      - ${DATA_DIR}/conf/rmilter/:/etc/rmilter.conf.d/:ro
    restart: always
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - rmilter

  dovecot:
    image: mailcow/dovecot
    depends_on: [bind9]
    links:
      - redis:redis-mailcow
    volumes:
      - ${DATA_DIR}/conf/dovecot:/usr/local/etc/dovecot
      - ${DATA_DIR}/assets/ssl:/etc/ssl/mail/:ro
      - ${DATA_DIR}/conf/sogo/:/etc/sogo/
      - vmail-vol-1:/var/vmail
      - crypt-vol-1:/mail_crypt/
    environment:
      - DBNAME=${DBNAME}
      - DBUSER=${DBUSER}
      - DBPASS=${DBPASS}
    ports:
      - "${IMAP_PORT}:143"
      - "${IMAPS_PORT}:993"
      - "${POP_PORT}:110"
      - "${POPS_PORT}:995"
      - "${SIEVE_PORT}:4190"
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    restart: always
    hostname: ${MAILCOW_HOSTNAME}
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - dovecot

  postfix:
    image: mailcow/postfix
    depends_on: [bind9]
    links:
      - redis:redis-mailcow
    volumes:
      - ${DATA_DIR}/conf/postfix:/opt/postfix/conf
      - ${DATA_DIR}/assets/ssl:/etc/ssl/mail/:ro
      - postfix-vol-1:/var/spool/postfix
      - crypt-vol-1:/var/lib/zeyple
    environment:
      - DBNAME=${DBNAME}
      - DBUSER=${DBUSER}
      - DBPASS=${DBPASS}
    ports:
      - "${SMTP_PORT}:25"
      - "${SMTPS_PORT}:465"
      - "${SUBMISSION_PORT}:587"
    restart: always
    hostname: ${MAILCOW_HOSTNAME}
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - postfix

  memcached:
    image: memcached:alpine
    depends_on: [bind9]
    restart: always
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    #networks:
    #  mailcow-network:
    #    aliases:
    #      - memcached

  nginx:
    depends_on:
      - sogo
      - php-fpm
    links:
      - php-fpm:phpfpm
    image: nginx:mainline-alpine
    #healthcheck:
    #  test: ["CMD", "ping", "php-fpm", "-c", "10"]
    #  interval: 10s
    #  timeout: 30s
    #  retries: 5
    command: /bin/sh -c "envsubst < /etc/nginx/conf.d/templates/listen_plain.template > /etc/nginx/conf.d/listen_plain.active &&
      envsubst < /etc/nginx/conf.d/templates/listen_ssl.template > /etc/nginx/conf.d/listen_ssl.active &&
      envsubst < /etc/nginx/conf.d/templates/server_name.template > /etc/nginx/conf.d/server_name.active &&
      nginx -g 'daemon off;'"
    environment:
      - HTTPS_PORT=${HTTPS_PORT}
      - HTTP_PORT=${HTTP_PORT}
      - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
    volumes:
      - ${DATA_DIR}/web:/web:ro
      - ${DATA_DIR}/conf/rspamd/dynmaps:/dynmaps:ro
      - ${DATA_DIR}/assets/ssl/:/etc/ssl/mail/:ro
      - ${DATA_DIR}/conf/nginx/:/etc/nginx/conf.d/:rw
    #dns:
    #  - 172.22.1.254
    #dns_search: mailcow-network
    ports:
      - ${HTTPS_PORT}:443
      - ${HTTP_PORT}:80
      #- "${HTTPS_BIND}:${HTTPS_PORT}:${HTTPS_PORT}"
      #- "${HTTP_BIND}:${HTTP_PORT}:${HTTP_PORT}"
    restart: always
    #networks:
    #  mailcow-network:
    #    ipv4_address: 172.22.1.251
    #    aliases:
    #      - nginx
    labels:
      rgon.domain: ${MAILCOW_HOSTNAME}
      rgon.ssl: ${RGON_SSL}
      rgon.redirect: '${RGON_REDIRECT}'

  ipv6nat:
    image: robbertkl/ipv6nat
    restart: always
    privileged: true
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /lib/modules:/lib/modules:ro

#networks:
#  mailcow-network:
#    driver: bridge
#    enable_ipv6: true
#    ipam:
#      driver: default
#      config:
#        - subnet: 172.22.1.0/24
#        - subnet: fd4d:6169:6c63:6f77::/64

volumes:
  vmail-vol-1:
    driver: ${STORAGE_DRIVER}
  mysql-vol-1:
    driver: ${STORAGE_DRIVER}
  dkim-vol-1:
    driver: ${STORAGE_DRIVER}
  redis-vol-1:
    driver: ${STORAGE_DRIVER}
  rspamd-vol-1:
    driver: ${STORAGE_DRIVER}
  postfix-vol-1:
    driver: ${STORAGE_DRIVER}
  crypt-vol-1:
    driver: ${STORAGE_DRIVER}
